.sidebar {
  background-color: #0F4E6E;
  width: 20vw;
  min-height: 100vh;
}

.nav {
  margin: 3vh;
}

.student a {
  font-size: 2.4vw;
  text-decoration: none;
  color: #FFFFFF;
}

.regular-exam-logo {
  width: 18vw;
  margin: 1vw;
}
